.footer-logo-container {
    position: absolute;
    overflow: hidden;
    height: 400px;
}

.moving-logo {
    top: -266px;
    right: 25%;
    position: absolute;
    //-webkit-animation: move 30s linear 1s infinite;
    //animation: move 30s linear 1s infinite;
    width: 150px;
}

@-webkit-keyframes move {
    from {
        left: -30%;
    }
    to {
        left: 100%;
    }
}

.footer-logo {
    position: absolute;
    top: 9px !important;
    left: 50px;
    clip-path: inset(0 30% 0 0);
}

footer {
    position: relative;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    margin-top: 300px;
    padding-top: 65px;
    /* height: 519px; */
    background-size: 400% 400%;
    animation: bg 20s infinite;

    a:hover {
        color: #fff !important;
    }
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer-img {
    //position: absolute;
    width: 370px;
    height: auto;
    z-index: -999;
    bottom: 401px;
}

.footer-svg {
    fill: #f8fafc;
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
        padding-top: 0rem;
    }
}

.footer-column {
    text-align: center;
    //border: red solid 1px;
    .nav-item {
        .nav-link {
            padding: 0.1rem 0;
        }

        a {
            color: #424846;
        }

        span.nav-link {
            color: #fff;
        }
        span.footer-title {
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
        .fas {
            margin-right: 0.5rem;
        }
    }
    ul {
        display: inline-block;
        @media (min-width: 768px) {
            text-align: left;
        }
        //border: yellow solid 1px;
    }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #28b485;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #535557;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}

.list-inline-item a {
    color: #fff;
}
