.home-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}

.home-form form {
    width: 100%;
    max-width: 790px;
}

.home-form form legend {
    font-size: 36px;
    color: #22d698;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.home-form form .inner-form {
    width: 100%;
    margin-bottom: 17px;
}

.search-app svg {
    fill: #aaebd4;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    cursor: pointer;
}

.search-app:hover,
.search-app:focus {
    outline: 0;
    box-shadow: none;
}

.search-app:hover svg,
.search-app:focus svg {
    fill: #22d698;
}

.home-form form .suggestion-wrap {
    padding: 0 15px;
}

@media screen and (max-width: 767px) {
    .home-form form .inner-form .input-field {
        margin-bottom: 20px;
        height: 50px;
    }
    .home-form form .inner-form .input-field input {
        padding-left: 55px;
        font-size: 16px;
    }
    .home-form form .inner-form .input-field .search-app svg {
        width: 26px;
        height: 26px;
    }
}

.tt-search-box {
    border-radius: 34px;
}

.tt-search-box-input-container {
    border: none;
}

.tt-search-box-result-list-container {
    width: 93%;
    left: 31px;
}

.tt-search-box-input {
    font-size: 18px;
}

.form-nav {
    position: absolute;
    left: 0;
}
