::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background: #f1f3f5;
    border-left: 1px solid darken(#f1f3f5, 10%);
}

::-webkit-scrollbar-thumb {
    background: darken(#f1f3f5, 20%);
}
